@font-face {
    font-family: 'jua';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'jua';
}

div {
    box-sizing: border-box;
}

.create,
.arrow {
    position: fixed;
    right: 10%;
    bottom: 10%;
    cursor: pointer;
}

.create::after,
.arrow::after {
    content: attr(data-message);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    background-color: #1976d2;
    padding: 10px;
    border-radius: 15px;
    font-size: small;
    color: white;
    white-space: nowrap;
}

.create:hover::after,
.arrow:hover::after {
    display: block;
}

.component-column {
    display: flex;
    flex-direction: column;
}

.component-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.component-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.pagination {
    border-radius: 20px;
    margin: 5px;
    border: none;

    &:hover {
        cursor: pointer;
    }
}

.pagination-selected {
    color: white;
    background-color: #1976d2;
}

.special-color {
    color: #1976d2;
}

.pagination-unselected {
    color: black;
}

.cell-link {
    text-decoration: none;
    color: black;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 680px;
}